# Untracked project files and directories list

# Logs
logs
*.log
npm-debug.log*

# Custom configurations
port.config.js

# Project dependencies
/node_modules

# Project settings
.project
.metadata
/.settings
