/* ============================
      Base Form Styles
============================ */

.form-container {
    margin-bottom: 30px;
}

header.form-header h2 {
    margin-bottom: 20px;
    padding: 30px 0 10px;
    color: #045aac;
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    word-spacing: 10px;
}
header.form-header p {
    padding: 12px 0 0;
    color: #333;
    font-size: 17px;
    font-weight: 300;
}

legend {
    padding-top: 25px;
    padding-bottom: 5px;
    color: #045aac;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: none;
    text-transform: uppercase;
}

.gs-input {
    padding: 10px;
}
.gs-legend {
    margin-bottom: 5px;
}

label,
.gs-legend {
    color: rgba(0, 24, 69, 0.84);
    font-weight: 600;
    display: block;
}

.label-required::after,
.gs-legend.label-required::after {
    content: " *";
    color: #e74c3c;
}

.label-secondary {
    font-weight: 400;
}

.gs-label-overide {
    display: inline-block;
    color: #333;
    font-weight: normal;
}

.form-submission .btn {
    margin: 10px 20px 0 0;
    padding: 7px 25px;
}

.fieldset-wrapper {
    padding: 5px;
}

.fieldset-wrapper form {
}

.fieldset-wrapper fieldset {
    padding: 10px;
}

.fieldset-wrapper fieldset.fieldset-read-only label {
    color: #6c6b6b;
    font-weight: 200;
}

.gs-recaptcha {
    padding-bottom: 10px;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 5px;
}
input.error,
.form-control-error {
    border: 1px solid red;
}
div.form-control-error {
    border-radius: 4px;
}

.form-container form .not-valid {
    border: 1px solid red;
}

.form-container form .section-content {
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-container form .form-data-label {
    margin-bottom: 5px;
    color: rgba(0, 24, 69, 0.84);
    font-weight: 600;
}
.form-container form .form-data-value {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
}

.gs-form-container .gs-select-group {
    padding: 2px 6px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
.gs-form-container .gs-select-group > span {
    margin: 2px;
    padding: 5px;
    display: inline-block;

}
.gs-form-container .multi-select .selected-item {

    color: #08c;
    border: 1px solid #c9e6f2;
    border-radius: 2px;
    background: #f2f9fc;
}
.gs-form-container .select-container {
    padding-left: 30px;
    width: 100%;
    height: 200px;
    overflow: scroll;
}

/*
 Overide react selectize styles
*/
.gs-form-container .react-selectize.root-node {
    width: 100%;
}
.gs-form-container .react-selectize.root-node .react-selectize-control {
    padding: 0;
}
.gs-form-container .react-selectize.root-node .react-selectize-control .react-selectize-placeholder {
    color: #333;
}
